<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ingenia3-compo documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">ingenia3-compo documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>HomeComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/home/home.component.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-home</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;i class&#x3D;&quot;fa fa-plus fa-2x&quot; (click)&#x3D;&quot;isModalOpened &#x3D; true&quot;&gt;ADD&lt;/i&gt;
&lt;hr&gt;
&lt;app-card
  title&#x3D;&quot;User Form&quot;
  icon&#x3D;&quot;fa fa-times&quot;
  [isModal]&#x3D;&quot;true&quot;
  (iconClick)&#x3D;&quot;isModalOpened &#x3D; false&quot;
  *ngIf&#x3D;&quot;isModalOpened&quot;
&gt;
  &lt;app-users-form
    [total]&#x3D;&quot;userService.users?.length&quot;
    [activeUser]&#x3D;&quot;userService.activeUser&quot;
    (save)&#x3D;&quot;saveHandler($event)&quot;
  &gt;&lt;/app-users-form&gt;
&lt;/app-card&gt;

&lt;app-card
  title&#x3D;&quot;User List&quot;
  [toggable]&#x3D;&quot;true&quot;
&gt;
    &lt;app-users-list
      [users]&#x3D;&quot;userService.users&quot;
      [activeUser]&#x3D;&quot;userService.activeUser&quot;
      (select)&#x3D;&quot;selectHandler($event)&quot;
      (remove)&#x3D;&quot;userService.deleteHandler($event)&quot;
    &gt;&lt;/app-users-list&gt;
&lt;/app-card&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#input">input</a>
                            </li>
                            <li>
                                <a href="#isModalOpened">isModalOpened</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#userService">userService</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#addHandler">addHandler</a>
                            </li>
                            <li>
                                <a href="#saveHandler">saveHandler</a>
                            </li>
                            <li>
                                <a href="#selectHandler">selectHandler</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(userService: <a href="../injectables/UsersService.html">UsersService</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="41" class="link-to-prism">src/app/features/home/home.component.ts:41</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>userService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/UsersService.html" target="_self" >UsersService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="addHandler"></a>
                    <span class="name">
                        <b>
                            addHandler
                        </b>
                        <a href="#addHandler"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>addHandler()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="47"
                            class="link-to-prism">src/app/features/home/home.component.ts:47</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="saveHandler"></a>
                    <span class="name">
                        <b>
                            saveHandler
                        </b>
                        <a href="#saveHandler"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>saveHandler($event: <a href="../interfaces/User.html">Partial<User></a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="56"
                            class="link-to-prism">src/app/features/home/home.component.ts:56</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>$event</td>
                                    <td>
                                                <code><a href="../interfaces/User.html" target="_self" >Partial&lt;User&gt;</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="selectHandler"></a>
                    <span class="name">
                        <b>
                            selectHandler
                        </b>
                        <a href="#selectHandler"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>selectHandler(user: <a href="../interfaces/User.html">User</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="51"
                            class="link-to-prism">src/app/features/home/home.component.ts:51</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>user</td>
                                    <td>
                                                <code><a href="../interfaces/User.html" target="_self" >User</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="input"></a>
                        <span class="name">
                            <b>
                            input</b>
                            <a href="#input"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://angular.io/api/forms/FormControl" target="_blank" >FormControl</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>new FormControl()</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="41" class="link-to-prism">src/app/features/home/home.component.ts:41</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="isModalOpened"></a>
                        <span class="name">
                            <b>
                            isModalOpened</b>
                            <a href="#isModalOpened"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>false</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="40" class="link-to-prism">src/app/features/home/home.component.ts:40</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="userService"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            userService</b>
                            <a href="#userService"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../injectables/UsersService.html" target="_self" >UsersService</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="43" class="link-to-prism">src/app/features/home/home.component.ts:43</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit } from &#x27;@angular/core&#x27;;
import { FormControl } from &#x27;@angular/forms&#x27;;
import { HttpClient } from &#x27;@angular/common/http&#x27;;
import { UsersService } from &#x27;./services/users.service&#x27;;
import { User } from &#x27;./model/user&#x27;;

@Component({
  selector: &#x27;app-home&#x27;,
  template: &#x60;
    &lt;i class&#x3D;&quot;fa fa-plus fa-2x&quot; (click)&#x3D;&quot;isModalOpened &#x3D; true&quot;&gt;ADD&lt;/i&gt;
    &lt;hr&gt;
    &lt;app-card 
      title&#x3D;&quot;User Form&quot; 
      icon&#x3D;&quot;fa fa-times&quot;
      [isModal]&#x3D;&quot;true&quot;
      (iconClick)&#x3D;&quot;isModalOpened &#x3D; false&quot;
      *ngIf&#x3D;&quot;isModalOpened&quot;
    &gt;
      &lt;app-users-form
        [total]&#x3D;&quot;userService.users?.length&quot;
        [activeUser]&#x3D;&quot;userService.activeUser&quot;
        (save)&#x3D;&quot;saveHandler($event)&quot;
      &gt;&lt;/app-users-form&gt;
    &lt;/app-card&gt;

    &lt;app-card
      title&#x3D;&quot;User List&quot;
      [toggable]&#x3D;&quot;true&quot;
    &gt;
        &lt;app-users-list
          [users]&#x3D;&quot;userService.users&quot;
          [activeUser]&#x3D;&quot;userService.activeUser&quot;
          (select)&#x3D;&quot;selectHandler($event)&quot;
          (remove)&#x3D;&quot;userService.deleteHandler($event)&quot;
        &gt;&lt;/app-users-list&gt;
    &lt;/app-card&gt;
  &#x60;,
})
export class HomeComponent  {
  isModalOpened &#x3D; false;
  input: FormControl &#x3D; new FormControl();

  constructor(public userService: UsersService) {
    this.userService.init()
  }

  addHandler() {
    this.userService.saveHandler({ name: this.input.value})
  }

  selectHandler(user: User) {
    this.isModalOpened &#x3D; true;
    this.userService.selectUser(user);
  }

  saveHandler($event: Partial&lt;User&gt;) {
    this.isModalOpened &#x3D; false;
    this.userService.saveHandler($event)
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><i class="fa fa-plus fa-2x" (click)="isModalOpened = true">ADD</i><hr><app-card  title="User Form"  icon="fa fa-times"  [isModal]="true"  (iconClick)="isModalOpened = false"  *ngIf="isModalOpened">  <app-users-form    [total]="userService.users?.length"    [activeUser]="userService.activeUser"    (save)="saveHandler($event)"  ></app-users-form></app-card><app-card  title="User List"  [toggable]="true">    <app-users-list      [users]="userService.users"      [activeUser]="userService.activeUser"      (select)="selectHandler($event)"      (remove)="userService.deleteHandler($event)"    ></app-users-list></app-card></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'CardComponent', 'selector': 'app-card'},{'name': 'CatalogComponent', 'selector': 'app-catalog'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'UsersFiltersComponent', 'selector': 'app-users-filters'},{'name': 'UsersFormComponent', 'selector': 'app-users-form'},{'name': 'UsersListComponent', 'selector': 'app-users-list'},{'name': 'UsersListItemComponent', 'selector': 'app-users-list-item'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'HomeComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'HomeComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
